<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>À propos - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="navBarItems" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="projects.html" class="navBarItems" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="about.html" class="navBarItems" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="social.html" class="navBarItems" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>À propos</h2>
                <p>Hey ! Je suis Enio ! Un passionné d'informatique et de développement ! Je suis actuellement en formation développeur Web chez <a href="https://www.edenschool.fr" target="_blank" title="Visiter EdenSchool France">Eden School</a> ! Je fais également des vidéos sur <a href="https://youtube.com/@thetruefrag" target="_blank" title="Accéder à ma chaîne YouTube">YouTube</a> ! Je travaille sur énormément de <a href="projects.html">projets</a> et j'essaie d'en consacrer la plupart de mon temps libre !</p>
                <h3>Ma chaîne YouTube</h3>
                <p>Je fais des vidéos quand j'ai le temps, la plupart du temps je suis sur mon <strong>MacBook Pro (de 2010)</strong> ou à certains moments je suis sur mon autre HP !<br>Mes PC sont, dès que j'ai de l'argent, nettoyés, entretenus (nettoyage) et sont "booster", cela me permet de faire de meilleures vidéos !</p>
                <h3>Mes outils</h3>
                <p>Mes outils sont souvent (voir pratiquement) des outils numériques ! Comme, des outils de monteurs, de graphistes (même si je ne suis pas graphistes) !</p>
                <article class="leftArticle">
                    <h4>Photoshop</h4>
                    <p>Un incontournable outil de chez Adobe. Un logiciel de montage photo puissant et populaire. Je m'en sers pour divers projets (tels que les miniatures de mes vidéos).</p>
                </article>
                <article class="rightArticle">
                    <h4>Première Pro</h4>
                    <p>Un logiciel de montage vidéo également produit par Adobe dans le but de faire un montage de qualité professionnel.</p>
                </article>
                <article class="leftArticle">
                    <h4>Outils Jetbrains</h4>
                    <p>Ce groupe très connu par les développeurs, permet de développer dans divers langages pour divers produits. Le logiciel que j'utilise est PhpStorm !</p>
                </article>
                <article class="rightArticle">
                    <h4>Produits Apple</h4>
                    <p>Je considère donc ces outils comme meilleure qualité prix !</p>
                </article>
                <div class="clear"></div>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>

    </body>
</html>
