<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>À propos - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="./about.html" class="activeItem" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="./projects.html" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="./social.html" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                    <li>
                        <a href="./services.html" title="Services">Services</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>À propos</h2>
                <p>Salut ! Je suis Enio ! Un passionné d'informatique et de développement ! Je suis actuellement en formation développeur Web chez <a href="https://www.edenschool.fr" target="_blank" title="Visiter EdenSchool France">Eden School</a> ! Je fais également des vidéos sur <a href="https://youtube.com/@thetruefrag" target="_blank" title="Accéder à ma chaîne YouTube">YouTube</a> ! Je travaille sur énormément de <a href="projects.html">projets</a> et j'essaie d'en consacrer la plupart de mon temps libre !</p>
                <p>J'essaie également de développer des outils utiles, pour tous, utilisable par tous, modifiable par tous.</p>
                <p>Mes projets sont légers et sont encore très limités, j'essaie toujours de faire une petite version avant d'en faire un gros projet.</p>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>
        <script src="../assets/js/script.js"></script>
    </body>
</html>
