<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Accédez aux services proposés par Enio Aiello tels qu'une bibliothèque de fonds d'écrans ou des exercices">
    <title>Services - Enio Aiello</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" title="Accueil">Accueil</a>
            </li>
            <li>
                <a href="./services.html" title="Services">Services</a>
            </li>
            <li>
                <a href="./social.html" title="Réseaux sociaux">Réseaux sociaux</a>
            </li>
            <li>
                <a href="./announcements.html" class="activeItem" title="Annonces">Annonces</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="otherDiv">
        <article class="leftArticle">
            <h2>Bienvenue sur les annonces</h2>
            <p>Bienvenue sur cette page d'annonces ! Ici vous retrouverez des informations concernant mes projets.</p>
        </article>
        <article class="rightArticle">
            <h2>Fin du service Google Fake Admin Panel</h2>
            <p>A compter du 22 avril 2023 à 14 h, vous ne pourrez plus vous connecter sur <a href="https://enioaiello.github.io/google-fake-admin-panel" target="_blank">Google Fake Admin Panel</a>.</p>
        </article>
        <div class="clear"></div>
    </div>
</main>
<footer>
    <p>Fait par Enio Aiello</p>
</footer>
<script src="../assets/js/script.js"></script>
</body>
</html>
