<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration - Enio Aiello</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/favicon.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../index.html" title="Accueil">Accueil</a>
                </li>
                <li>
                    <a href="about.html" title="À propos">À propos</a>
                </li>
                <li>
                    <a href="projects.html" title="Projets">Projets</a>
                </li>
                <li>
                    <a href="social.html" title="Réseaux sociaux">Réseaux sociaux</a>
                </li>
                <li>
                    <a href="http://statussuptime.freeboxos.fr:3001/status/home" target="_blank" title="Status">Status</a>
                </li>
                <li>
                    <a href="credits.html" title="Crédits">Crédits</a>
                </li>
                <li>
                    <a href="config.html" class="activeItem" title="Configurations">Configurations</a>
                </li>
                <li>
                    <a href="https://enioaiello.github.io/background-library/" target="_blank" title="Fonds d'écrans">Fonds d'écrans</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Configurations</h2>
        <h3>Machines principales (produits Apple)</h3>
        <article class="leftArticle">
            <h3>iPhone SE 3</h3>
            <p><ul>
                <li>
                    64 Gb de stockage
                </li>
                <li>
                    Couleur noir
                </li>
                <li>
                    Reconditionné BackMarket
                </li>
                <li>
                    Reçu après les épreuves du brevet en 2022
                </li>
            </ul></p>
        </article>
        <article class="rightArticle">
            <h3>iPad 4</h3>
            <p><ul>
                <li>
                    16 Gb de stockage
                </li>
                <li>
                    Couleur noir
                </li>
                <li>
                    Neuf avec réductiond d'employés Apple
                </li>
                <li>
                    Reçu à mon anniversaire de 8 ans
                </li>
            </ul></p>
        </article>
        <div class="clear"></div>
        <article class="leftArticle">
            <h3>MacBook Pro 2010</h3>
            <p><ul>
                <li>
                    512 Gb de SSD
                </li>
                <li>
                    Intel Core 2 Duo (2,4 Ghz)
                </li>
                <li>
                    Couleur classique
                </li>
                <li>
                    Acheté neuf (décembre 2010)
                </li>
                <li>
                    Reçu après le décés de mon père (quelques années après pour mon entrée en 6ème)
                </li>
            </ul></p>
        </article>
        <article class="rightArticle">
            <h3>Apple Watch S5</h3>
            <p><ul>
                <li>
                    32 Gb de stockage
                </li>
                <li>
                    Couleur noir
                </li>
                <li>
                    Recondtionné BackMarket
                </li>
                <li>
                    Reçu à mon Noël de 2022
                </li>
            </ul></p>
        </article>
        <div class="clear"></div>
        <h3>Le reste arrive prochainement !</h3>
    </main>
    <footer>
        <p>Fait par Enio Aiello</p>
    </footer>
</body>
</html>