<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
          content="Site Web officiel d'Enio Aiello, vous y retrouverez des projets, ressources et plus...">
    <title>Enio Aiello | Projets</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/pages.css">
    <link rel="icon" href="../assets/img/favicon.png">
</head>
<body>
<div id="navMobile">
    <div class="logo">
        <img src="../assets/img/favicon.png" alt="Logo du site">
        <h1>Enio Aiello</h1>
    </div>
    <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="./projets.html">Projets</a></li>
        <li><a href="./ressources.html">Ressources</a></li>
    </ul>
    <ul class="social">
        <li><a href="https://github.com/enioaiello" class="github" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/enioaiello/" class="linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://discord.gg/uxhTP3fv6F" class="discord" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
    </ul>
</div>
<header>
    <nav>
        <div class="logo">
            <img src="../assets/img/favicon.png" alt="Logo du site">
            <h1>Enio Aiello</h1>
        </div>
        <ul>
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="./projets.html">Projets</a></li>
            <li><a href="./ressources.html">Ressources</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Contact</h2>
    <ul class="social">
        <li><a href="https://github.com/enioaiello" id="github" target="_blank"><i class="fa-brands fa-github"></i></a>
        </li>
        <li><a href="https://www.linkedin.com/in/enioaiello/" id="linkedin" target="_blank"><i
                class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://discord.gg/uxhTP3fv6F" id="discord" target="_blank"><i
                class="fa-brands fa-discord"></i></a></li>
    </ul>
</main>
<footer>
    <p>&copy; 2024 Enio Aiello - Tous droits réservés</p>
    <p id="separator">
        |
    </p>
    <ul id="social">
        <li><a href="https://github.com/enioaiello" id="github" target="_blank"><i class="fa-brands fa-github"></i></a>
        </li>
        <li><a href="https://www.linkedin.com/in/enioaiello/" id="linkedin" target="_blank"><i
                class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://discord.gg/uxhTP3fv6F" id="discord" target="_blank"><i
                class="fa-brands fa-discord"></i></a></li>
    </ul>
</footer>
<script src="https://kit.fontawesome.com/fd2fbbb747.js" crossorigin="anonymous"></script>
</body>
</html>