<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crédits - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="about.html" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="projects.html" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="social.html" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                    <li>
                        <a href="http://statussuptime.freeboxos.fr:3001/status/home" target="_blank" title="Status">Status</a>
                    </li>
                    <li>
                        <a href="credits.html" class="activeItem" title="Crédits">Crédits</a>
                    </li>
                    <li>
                        <a href="config.html" title="Configurations">Configurations</a>
                    </li>
                    <li>
                        <a href="https://enioaiello.github.io/background-library/" target="_blank" title="Fonds d'écrans">Fonds d'écrans</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>Crédits</h2>
                <article class="leftArticle">
                    <h4>The Samsung Fan</h4>
                    <p>Pour son ajout de ce site dans sa liste des serveurs connectés.</p>
                </article>
                <article class="rightArticle">
                    <h4><a href="https://codepen.io/elenak23" target="_blank" class="uniqueArticleLink">Elena</a></h4>
                    <p>Pour son <a href="https://codepen.io/elenak23/pen/MWBmxbp" target="_blank">code pen</a> pour le "typing animation" !</p>
                </article>
                <div class="clear"></div>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>
        <script src="../assets/js/script.js"></script>
    </body>
</html>
