<section id="home" class="section hero">
    <div class="content">
        <h1 class="title">Recrutez-moi !</h1>
        <p class="description">Vous recherchez un jeune passionné dans vos rangs ?</p>
        <p class="description">Vous êtes peut-être tombé sur le bon profil !</p>
    </div>
    <img src="../assets/images/profile.png" alt="Photo de profil d'Enio Aiello" class="profile-picture">
</section>

<section id="projects" class="section">
    <h2 class="title">Projets</h2>
    <div class="projects">

    </div>
    <div class="refresh-container">
        <button id="refresh" class="link"><i class="ri-loop-right-line"></i> Rafraîchir</button>
        <button id="all-projects" class="link"><i class="ri-arrow-right-up-line"></i> Tous les projets</button>
    </div>
</section>

<section id="skills" class="section">
    <h2 class="title">Compétences</h2>
    <p class="text">Vous pouvez retrouver certaines listes de compétences dans la page <a href="#/tools" class="link">des outils</a>. Vous pouvez trouver une liste plus complète sur
        <a href="https://www.linkedin.com/in/enioaiello/details/skills/" target="_blank" class="link">LinkedIn</a></p>
    <div class="skills">
        <h3 class="subtitle">Langages de programmation</h3>
        <ul class="category langages"></ul>
        <h3 class="subtitle">Frameworks et CMS</h3>
        <ul class="category frameworks_cms"></ul>
        <h3 class="subtitle">Utilitaires</h3>
        <ul class="category tools"></ul>
        <h3 class="subtitle">Systèmes</h3>
        <ul class="category systems"></ul>
        <a href="tools.html" class="link more"><i class="ri-folder-open-fill"></i> En voir plus</a>
        <h3 class="subtitle">Hyperviseur (hosted)</h3>
        <ul class="category hyp-hosted"></ul>
        <h3 class="subtitle">Hyperviseur (bare metal)</h3>
        <ul class="category hyp-bare"></ul>
        <h3 class="subtitle">Design</h3>
        <ul class="category design"></ul>
        <h3 class="subtitle">Bureautique</h3>
        <ul class="category office"></ul>
        <h3 class="subtitle">Méthodologies</h3>
        <ul class="category methodologies"></ul>
    </div>
</section>

<section id="languages" class="section">
    <h2 class="title">Langues</h2>
    <ul class="category">
        <li class="element">
            Français
        </li>
        <li class="element">
            Anglais
        </li>
    </ul>
</section>

<section id="particularity" class="section">
    <h2 class="title">Particularités</h2>
    <ul class="category">
        <li class="element">
            Reconnaissance RQTH
        </li>
    </ul>
</section>

<section id="curriculum-vitae" class="section">
    <h2 class="title">Curriculum vitæ</h2>
    <p class="text">Vous désirez obtenir une copie numérique de mon curriculum vitæ ?</p>
    <a href="assets/pdf/cv/cv-enio-aiello.pdf" class="button">Obtenir</a>
    <p class="text"><small>Pour des raisons de sécurité, les informations de contact (numéro de téléphone, adresse email) ne sont pas mis à disposition. Si vous désirez me contacter, merci d'utiliser un des réseaux sociaux ci-dessous.</small></p>
</section>

<section id="contact" class="section">
    <h2 class="title">Contact</h2>
    <div class="contacts">
        <div class="contact github">
            <div class="brand">
                <i class="ri-github-fill icon"></i>
                <h3 class="subtitle">GitHub</h3>
            </div>
            <a href="#/github" target="_blank" class="link"><span class="base">github.com/</span>enioaiello</a>
        </div>
        <div class="contact linkedin">
            <div class="brand">
                <i class="ri-linkedin-box-fill icon"></i>
                <h3 class="subtitle">LinkedIn</h3>
            </div>
            <a href="#/linkedin" target="_blank" class="link"><span class="base">linkedin.com/in/</span>enioaiello</a>
        </div>
    </div>
</section>