<section id="home" class="section hero">
    <div class="content">
        <h1 class="title">Enio Aiello</h1>
        <p class="description">Développeur web et passionné d'informatique.</p>
    </div>
    <img src="assets/images/profile.png" alt="Photo de profil d'Enio Aiello" class="profile-picture">
</section>
<section id="projects" class="section">
    <h2 class="title">Projets</h2>
    <div class="projects"></div>
</section>
<section id="corundum" class="section">
    <img src="assets/images/icons/corundum.png" alt="Logo Corundum" class="mobile-icon">
    <h2 class="title">Corundum</h2>
    <a href="https://corundum.fr/" target="_blank" class="button"><span class="text">Découvrir</span> <i class="ri-arrow-right-line"></i></a>
</section>
<section id="tools" class="section">
    <h2 class="title">Outils</h2>
    <div class="tools">
        <div class="tool">
            <i class="icon ri-settings-3-line"></i>
            <div class="content">
                <h3 class="title">Tous les outils</h3>
                <p class="description">Obtenir la liste de tous mes outils</p>
            </div>
        </div>
        <div class="tool">
            <i class="icon ri-finder-line"></i>
            <div class="content">
                <h3 class="title">Systèmes d'exploitation</h3>
                <p class="description">Obtenir tous les systèmes d'exploitations que j'utilise</p>
            </div>
        </div>
        <div class="tool">
            <i class="icon ri-command-fill"></i>
            <div class="content">
                <h3 class="title">Logiciels</h3>
                <p class="description">Obtenir tous les logiciels que j'utilise</p>
            </div>
        </div>
        <div class="tool">
            <i class="icon ri-mac-line"></i>
            <div class="content">
                <h3 class="title">Appareils</h3>
                <p class="description">Obtenir tous les appareils que j'utilise</p>
            </div>
        </div>
    </div>
</section>
<section id="ressources" class="section">
    <h2 class="title">Ressources</h2>
    <div class="ressources"></div>
</section>
<section id="hire" class="section">
    <img src="assets/images/icons/handshake.png" alt="Logo Espace recruteur" class="mobile-icon">
    <h2 class="title">Espace recruteur</h2>
    <a href="#/hire" class="button"><span class="text">Découvrir</span> <i class="ri-arrow-right-line"></i></a>
</section>
<section id="videos" class="section">
    <h2 class="title">Vidéos</h2>
    <iframe
            src="https://www.youtube.com/embed/videoseries?list=PLKjR7hquCU1EJ27-f9RxnLoYSbM7xSOau"
            title="Mes vidéos YouTube"
            frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</section>
<section id="horizon" class="section">
    <img src="assets/images/icons/horizon.png" alt="Logo Horizon" class="mobile-icon">
    <h2 class="title">Horizon</h2>
    <a href="#/discord" class=button><span class="text">Rejoindre</span> <i class="ri-arrow-right-line"></i></a>
</section>
<section id="donation" class="section">
    <h2 class="title">Donations</h2>
    <p class="description">Vous appréciez mon travail ? N'hésitez pas à me faire un don afin de pouvoir vivre ou réinvestir cet argent dans mon travail (achat de matériel, infrastructures, noms de domaines…).</p>
    <div class="services">
        <a href="#/paypal" target="_blank" class="button"><span class="text">PayPal</span> <i class="ri-paypal-fill"></i></a>
        <a href="#/github-sponsors" target="_blank" class="button"><span class="text">GitHub Sponsors</span> <i class="ri-github-line"></i></a>
    </div>
</section>
<section id="contact" class="section">
    <h2 class="title">Contact</h2>
    <div class="contacts">
        <div class="contact bluesky">
            <div class="brand">
                <i class="ri-bluesky-fill icon"></i>
                <h3 class="subtitle">Bluesky</h3>
            </div>
            <a href="#/bluesky" target="_blank" class="link"><span class="base">bsky.app/profile/</span>enioaiello.bsky.social</a>
        </div>
        <div class="contact discord">
            <div class="brand">
                <i class="ri-discord-fill icon"></i>
                <h3 class="subtitle">Discord</h3>
            </div>
            <a href="#/discord" target="_blank" class="link"><span class="base">discord.gg/</span>AHYcDWf5WV</a>
        </div>
        <div class="contact github">
            <div class="brand">
                <i class="ri-github-fill icon"></i>
                <h3 class="subtitle">GitHub</h3>
            </div>
            <a href="#/github" target="_blank" class="link"><span class="base">github.com/</span>enioaiello</a>
        </div>
        <div class="contact instagram">
            <div class="brand">
                <i class="ri-instagram-fill icon"></i>
                <h3 class="subtitle">Instagram</h3>
            </div>
            <a href="#/instagram" target="_blank" class="link"><span class="base">instagram.com/</span>aielloenio</a>
        </div>
        <div class="contact linkedin">
            <div class="brand">
                <i class="ri-linkedin-box-fill icon"></i>
                <h3 class="subtitle">LinkedIn</h3>
            </div>
            <a href="#/linkedin" target="_blank" class="link"><span class="base">linkedin.com/in/</span>enioaiello</a>
        </div>
        <div class="contact email">
            <div class="brand">
                <i class="ri-mail-fill icon"></i>
                <h3 class="subtitle">Email</h3>
            </div>
            <a href="#/email" target="_blank" class="link">contact@enioaiello.fr</a>
        </div>
        <div class="contact threads">
            <div class="brand">
                <i class="ri-threads-fill icon"></i>
                <h3 class="subtitle">Threads</h3>
            </div>
            <a href="#/threads" target="_blank" class="link"><span class="base">threads.com/</span>@aielloenio</a>
        </div>
        <div class="contact youtube">
            <div class="brand">
                <i class="ri-youtube-fill icon"></i>
                <h3 class="subtitle">YouTube</h3>
            </div>
            <a href="#/youtube" target="_blank" class="link"><span class="base">youtube.com/</span>@enioaiello</a>
        </div>
    </div>
</section>
