<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enio Aiello</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/projects.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="stylesheet" href="../assets/css/dark-mode.css">
    <link rel="icon" href="../assets/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css">
    <meta property="og:title" content="Portfolio">
    <meta property="og:description" content="Le portfolio d'Enio Aiello. Tout simplement.">
    <meta property="og:image" content="assets/images/logo.png">
    <meta property="og:url" content="https://enioaiello.github.io/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Enio Aiello">
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="nav">
                <img src="../assets/images/logo.png" alt="Logo d'Enio Aiello" class="logo">
                <div class="separator"></div>
                <ul class="menu">
                    <li class="menu-item"><a href="../index.html#home" class="link">Accueil</a></li>
                    <li class="menu-item"><a href="projects.html" class="link active">Projets</a></li>
                    <li class="menu-item"><a href="../index.html#ressources" class="link">Ressources</a></li>
                    <li class="menu-item"><a href="../index.html#contact" class="link">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <section id="projects" class="section">
                <div class="head">
                    <h2 class="title">Projets</h2>
                </div>
                <div class="category-container">
                    <a href="#web" class="category">Web</a>
                    <a href="#scripts" class="category">Scripts</a>
                    <a href="#templates" class="category">Modèles</a>
                    <div class="separator"></div>
                    <a href="../index.html" class="button"><i class="ri-home-fill"></i></a>
                </div>
                <div id="web" class="projects">
                    <h2 class="title">Web</h2>
                    <div class="project">
                        <!-- <img src="../assets/images/projects/admin-services.png" alt="Projet Admin Services" class="project-image"> -->
                        <h3 class="project-title">Admin Services</h3>
                        <p class="project-description">Un projet qui m'a permis d'apprendre les technologies front-end (HTML, CSS et JavaScript).</p>
                        <div class="project-footer">
                            <div class="project-language">
                                <div class="language">
                                    <i class="ri-php-fill"></i> PHP
                                </div>
                                <div class="language">
                                    MySQL
                                </div>
                                <div class="language">
                                    Laravel
                                </div>
                            </div>
                            <div class="project-container-link"><a href="https://github.com/enioaiello/admin-services" target="_blank" class="project-link"><i class="ri-github-fill"></i></a></div>
                        </div>
                    </div>
                    <div class="project">
                        <img src="../assets/images/projects/admin-services-legacy.png" alt="Projet Admin Services (legacy)" class="project-image">
                        <h3 class="project-title">Admin Services (legacy)</h3>
                        <p class="project-description">Un projet qui m'a permis d'apprendre les technologies front-end (HTML, CSS et JavaScript).</p>
                        <div class="project-footer">
                            <div class="project-language">
                                <div class="language">
                                    <i class="ri-html5-fill icon"></i> HTML
                                </div>
                                <div class="language">
                                    <i class="ri-css3-fill"></i> CSS
                                </div>
                                <div class="language">
                                    <i class="ri-javascript-fill"></i> JS
                                </div>
                            </div>
                            <div class="project-container-link"><a href="https://github.com/enioaiello/admin-services-legacy" target="_blank" class="project-link"><i class="ri-github-fill"></i></a><a href="https://enioaiello.github.io/admin-services-legacy" target="_blank" class="project-link"><i class="ri-earth-fill"></i></a></div>
                        </div>
                    </div>
                    <div class="project">
                        <img src="../assets/images/projects/vador.png" alt="Projet Vador" class="project-image">
                        <h3 class="project-title">Vador</h3>
                        <p class="project-description">Un simple "moteur de recherche" permettant de rechercher des programmes FOSS et de les téléchargés depuis leur lien officiel.</p>
                        <div class="project-footer">
                            <div class="project-language">
                                <div class="language">
                                    <i class="ri-html5-fill icon"></i> HTML
                                </div>
                                <div class="language">
                                    <i class="ri-css3-fill"></i> CSS
                                </div>
                                <div class="language">
                                    <i class="ri-javascript-fill"></i> JS
                                </div>
                            </div>
                            <div class="project-container-link"><a href="https://github.com/enioaiello/vador" target="_blank" class="project-link"><i class="ri-github-fill"></i></a><a href="https://enioaiello.github.io/vador" target="_blank" class="project-link"><i class="ri-earth-fill"></i></a></div>
                        </div>
                    </div>
                    <div class="project">
                        <!-- <img src="../assets/images/projects/horizon.png" alt="Horizon" class="project-image"> -->
                        <h3 class="project-title">Horizon</h3>
                        <p class="project-description">Le site Web de mon serveur Discord.</p>
                        <div class="project-footer">
                            <div class="project-language">
                                <div class="language">
                                    <i class="ri-html5-fill icon"></i> HTML
                                </div>
                                <div class="language">
                                    <i class="ri-css3-fill"></i> CSS
                                </div>
                            </div>
                            <div class="project-container-link"><a href="https://github.com/enioaiello/horizon" target="_blank" class="project-link"><i class="ri-github-fill"></i></a><a href="https://enioaiello.github.io/horizon" target="_blank" class="project-link"><i class="ri-earth-fill"></i></a></div>
                        </div>
                    </div>
                    <div class="project">
                        <img src="../assets/images/projects/atomix.png" alt="Atomix" class="project-image">
                        <h3 class="project-title">Atomix</h3>
                        <p class="project-description">Un projet expérimental de framework CSS compilé via SCSS. Ultra simple à maitriser.</p>
                        <div class="project-footer">
                            <div class="project-language">
                                <div class="language">
                                    SCSS
                                </div>
                                <div class="language">
                                    <i class="ri-css3-fill"></i> CSS
                                </div>
                            </div>
                            <div class="project-container-link"><a href="https://github.com/enioaiello/atomix" target="_blank" class="project-link"><i class="ri-github-fill"></i></a></div>
                        </div>
                    </div>
                    <div class="project">
                        <img src="../assets/images/projects/quick.png" alt="Quick" class="project-image">
                        <h3 class="project-title">Quick</h3>
                        <p class="project-description">Un site permettant aux utilisateurs macOS (et Linux) de télécharger leurs applications en une seule commande.</p>
                        <div class="project-footer">
                            <div class="project-language">
                                <div class="language">
                                    <i class="ri-html5-fill icon"></i> HTML
                                </div>
                                <div class="language">
                                    <i class="ri-css3-fill"></i> CSS
                                </div>
                                <div class="language">
                                    <i class="ri-javascript-fill"></i> JS
                                </div>
                                <div class="language">
                                    <i class="ri-bootstrap-fill"></i> Bootstrap
                                </div>
                            </div>
                            <div class="project-container-link"><a href="https://github.com/corundumproject/quick" target="_blank" class="project-link"><i class="ri-github-fill"></i></a><a href="https://corundumproject.github.io/quick" target="_blank" class="project-link"><i class="ri-earth-fill"></i></a></div>
                        </div>
                    </div>
                </div>
                <div id="scripts" class="projects">
                    <h2 class="title">Scripts</h2>
                    <div class="project">
                        <img src="../assets/images/projects/corundum-maintenance.png" alt="Projet Corundum maintenance" class="project-image">
                        <h3 class="project-title">Corundum maintenance</h3>
                        <p class="project-description">Un simple script permettant l'administration et la maintenance de poste de travail Microsoft Windows.</p>
                        <div class="project-footer">
                            <div class="project-language">
                                <div class="language">
                                    <i class="ri-terminal-fill"></i> Batch
                                </div>
                            </div>
                            <div class="project-container-link"><a href="https://github.com/corundumproject/maintenance" target="_blank" class="project-link"><i class="ri-github-fill"></i></a></div>
                        </div>
                    </div>
                </div>
                <div id="templates" class="projects">
                    <h2 class="title">Modèles</h2>
                    <div class="project">
                        <!-- <img src="../assets/images/projects/laravel-project-template.png" alt="Template Laravel avec Docker"> -->
                        <h3 class="project-title">Laravel avec Docker</h3>
                        <p class="project-description">Un modèle avec Docker (docker-compose) pour Laravel 12 utilisant Apache, MySQL.</p>
                        <div class="project-footer">
                            <div class="project-language">
                                <div class="language">
                                    Docker
                                </div>
                            </div>
                            <div class="project-container-link"><a href="https://github.com/corundumproject/maintenance" target="_blank" class="project-link"><i class="ri-github-fill"></i></a></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <p class="copyright">&copy; 2025 - Enio Aiello</p>
        </footer>
    </div>
    <script src="../assets/js/script.js"></script>
</body>
</html>