<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projets - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="navBarItems" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="about.html" class="navBarItems" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="projects.html" class="navBarItems" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="social.html" class="navBarItems" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>Mes projets</h2>
                <p>Vous retrouverez ici la plupart de mes projets. Vous êtes libres de les consulter autant de fois que vous le voulez !</p>
                <article class="leftArticle">
                    <h3>Oto-Maintenance</h3>
                    <p>Un utilitaire Windows (et Linux) comprenant divers outils de maintenance !</p>
                    <a href="https://enioaiello.github.io/Oto-Maintenance" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                </article>
                <article class="rightArticle">
                    <h3>EasySite</h3>
                    <p>Une template Web comprenant divers fichiers pour créer un site !</p>
                    <a href="https://enioaiello.github.io/EasySite" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                </article>
                <div class="clear"></div>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>

    </body>
</html>
