<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projets - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="about.html" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="projects.html" class="navBarItems activeItem" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="social.html" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>Mes projets</h2>
                <p>Vous retrouverez ici la plupart de mes projets. Vous êtes libres de les consulter autant de fois que vous le voulez !</p>
                <article class="leftArticle">
                    <h3>Oto-Maintenance</h3>
                    <p>Un utilitaire Windows (et Linux) comprenant divers outils de maintenance !</p>
                    <a href="https://github.com/enioaiello/Oto-Maintenance" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                </article>
                <article class="rightArticle">
                    <h3>EasySite</h3>
                    <p>Une template Web comprenant divers fichiers pour créer un site !</p>
                    <a href="https://github.com/enioaiello/EasySite" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                </article>
                <div class="clear"></div>
                <p>Ces projets sont libres et accessible de tous, vous pouvez donc les modifiers, signaler de bugs et profiter d'un service gratuit.</p>
                <p>Chaque sites sont hébergés sur Github Pages et vous donnerons plus d'informations concernant le produit en lui-même sur son site.</p>
                <p>D'autres projets sont encore en bêta, vous pouvez le retrouver sur <a href="https://github.com/enioaiello" target="_blank">Github</a>.</p>
                <p>Sachez que les dernières mises à jours d'<strong>EasySite</strong> sur <a href="https://github.com/thetruefrag" target="_blank">ce compte Github</a>.</p>
                <p>Pour les gens qui souhaitent utiliser mes projets, n'hésitez pas à me soutenir en me mentionnant, je prendrais le temps de regarder vos projets !</p>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>
        <script src="../assets/js/script.js"></script>
    </body>
</html>
