<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - Enio Aiello</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" title="Accueil">Accueil</a>
            </li>
            <li>
                <a href="./services.html" class="activeItem" title="Services">Services</a>
            </li>
            <li>
                <a href="./social.html" title="Réseaux sociaux">Réseaux sociaux</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="otherDiv">
        <article class="leftArticle">
            <img src="../assets/img/background-library-logo.png" alt="background-library Logo">
            <h2>Fonds d'écrans</h2>
            <a href="https://enioaiello.github.io/background-library/" target="_blank" class="button" title="Consulter">Consulter</a>
        </article>
        <!-- <article class="rightArticle">
            <h2>Oto-Maintenance</h2>
            <a href="https://github.com/enioaiello/Oto-Maintenance" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
        </article>
        <div class="clear"></div>
        <article class="leftArticle">
            <h2>EasySite</h2>
            <a href="https://github.com/enioaiello/EasySite" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
        </article>
        <article class="rightArticle">
            <h2>Google-fake-admin-panel</h2>
            <a href="https://github.com/enioaiello/google-fake-admin-panel" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
        </article>
        <div class="clear"></div>
        <article class="leftArticle">
            <h2>Discommunity</h2>
            <a href="https://enioaiello.github.io/discommunity" target="_blank" class="button" title="Consulter">Consulter</a>
        </article>
        <article class="rightArticle">
            <h2>DS's Fan Base</h2>
            <a href="https://github.com/enioaiello/ds" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
        </article>
        <div class="clear"></div>
        <article class="leftArticle">
            <h2>Pendu</h2>
            <a href="https://github.com/enioaiello/pendu" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
        </article> -->
        <div class="clear"></div>
    </div>
</main>
<footer>
    <p>Fait par Enio Aiello</p>
</footer>
<script src="../assets/js/script.js"></script>
</body>
</html>
