<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Réseaux sociaux - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="navBarItems" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="projects.html" class="navBarItems" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="about.html" class="navBarItems" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="social.html" class="navBarItems" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>Réseaux sociaux</h2>
                <p>Vous désirez me suivre dans mon aventure ou me contacter ? Voici quelques moyens de communication !<br>Note : Pour me contacter par e-mail (professionnel uniquement), passez <a href="mailto:eaiello@edenschool.fr">ici</a> !</p>
                <article class="leftArticle">
                    <h3>Discord</h3>
                    <a href="https://discord.com/invite/q6vjGgDCbf" target="_blank" class="button">Rejoindre</a>
                </article>
                <article class="rightArticle">
                    <h3>Instagram</h3>
                    <a href="https://instagram.com/aielloenio" target="_blank" class="button">S'abonner</a>
                </article>
                <article class="leftArticle">
                    <h3>YouTube</h3>
                    <a href="https://youtube.com/@thetruefrag" target="_blank" class="button">S'abonner</a>
                </article>
                <article class="rightArticle">
                    <h3>Github</h3>
                    <a href="https://github.com/enioaiello" target="_blank" class="button">S'abonner</a>
                </article>
                <article class="leftArticle">
                    <h3>TikTok</h3>
                    <a href="https://tiktok.com/@enioaiello0" target="_blank" class="button">S'abonner</a>
                </article>
                <article class="rightArticle">
                    <h3>Twitter (inactif)</h3>
                    <a href="https://twitter.com/enioaiello" target="_blank" class="button">S'abonner</a>
                </article>
                <div class="clear"></div>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>

    </body>
</html>
