<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Outils | Enio Aiello</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/tools.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="stylesheet" href="../assets/css/dark-mode.css">
    <link rel="icon" href="../assets/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css">
    <meta property="og:title" content="Portfolio">
    <meta property="og:description" content="Le portfolio d'Enio Aiello. Tout simplement.">
    <meta property="og:image" content="assets/images/logo.png">
    <meta property="og:url" content="https://enioaiello.github.io/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Enio Aiello">
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="nav">
                <img src="../assets/images/logo.png" alt="Logo d'Enio Aiello" class="logo">
                <div class="separator"></div>
                <ul class="menu">
                    <li class="menu-item"><a href="../index.html" class="link">Accueil</a></li>
                    <li class="menu-item"><a href="projects.html" class="link">Projets</a></li>
                    <li class="menu-item"><a href="tools.html" class="link active">Outils</a></li>
                    <li class="menu-item"><a href="ressources.html" class="link">Ressources</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <section id="tools" class="section">
                <div class="category-container">
                    <a href="#os" class="category">Systèmes d'exploitation</a>
                    <a href="#software" class="category">Logiciels</a>
                    <div class="separator"></div>
                    <a href="../index.html" class="home button"><i class="ri-home-fill"></i></a>
                </div>
                <div id="os" class="tools">
                    <h2 class="subtitle">Systèmes d'exploitation</h2>
                </div>
                <div id="software" class="tools">
                    <h2 class="subtitle">Logiciels</h2>
                </div>
            </section>
        </main>
        <footer class="footer">
            <p class="copyright">&copy; 2025 - Enio Aiello</p>
        </footer>
    </div>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/list-tools.js"></script>
</body>
</html>