<div class="section">
    <h1 class="title">Outils</h1>
    <div class="categories">
        <div class="list">
            <a href="#os" class="category">Systèmes</a>
            <a href="#software" class="category">Logiciels</a>
            <a href="#devices" class="category">Appareils</a>
        </div>

        <!--<form class="search">
            <label>
                <input type="text" name="search" placeholder="Rechercher">
            </label>
            <input type="submit" class="none" value="Rechercher">
        </form>-->
    </div>
    <div class="tools">
        <h2 class="title">Systèmes d'exploitation</h2>
        <div id="os" class="os"></div>
        <h2 class="title">Logiciels</h2>
        <div id="software" class="software"></div>
        <h2 class="title">Appareils</h2>
        <div class="alert">
            Cette liste est en cours de construction.
        </div>
        <div id="devices" class="devices"></div>
    </div>
</div>
