<div class="section">
    <h1 class="title">Outils</h1>
    <div class="categories">
        <a href="#os" class="category">Systèmes d'exploitation</a>
        <a href="#software" class="category">Logiciels</a>
    </div>
    <div class="alert">
        Cette liste est en cours de construction.
    </div>
    <div class="tools">
        <h2 class="title">Systèmes d'exploitation</h2>
        <div id="os" class="os"></div>
        <h2 class="title">Logiciels</h2>
        <div id="software" class="software"></div>
    </div>
</div>
