* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
}

#mainHeader {
    background-color: transparent;
}

nav ul {
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 1%;
}

nav ul li a {
    color: gray;
    text-decoration: none;
    font-size: 2vh;
}

nav ul li a:hover {
    transition: 200ms;
}

body {
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 88vh;
}

h2 {
    border-right: 1px solid gray;
    padding: 1%;
    margin: 1%;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2% 6%;
    margin: 1%;
}

.denied {
    cursor: not-allowed;
}

footer {
    text-align: center;
}

nav ul li .activeItem {
    color: white;
}

nav ul li .activeItem:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

nav ul li a:hover {
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    animation: border-animation 0.5s normal;
}

footer {
    background-color: black;
}

footer p {
    padding: 1%;
    color: white;
    margin: 0;
}

.button:hover {
    background-color: gray;
    border: 2px solid darkgray;
}

@media (max-width: 576px) {
    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li a {
        text-align: center;
    }

    #mainDiv img {
        width: 50%;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    article {
        width: 100%;
    }
}