@media (prefers-color-scheme: dark) {
    .body {
        background-color: var(--black-color);
        color: var(--white-color);
    }

    .header .navbar {
        background-color: var(--black-blur);
    }

    .header .navbar .links .item .link {
        color: var(--white-color);
    }

    .header.menu-open .navbar .links {
        background-color: var(--black-blur) !important;
    }

    .burger-line {
        background-color: var(--white-color) !important;
    }

    .main .section {
        background-color: var(--black-blur);
    }

    .loading-page,
    .error {
        background-color: var(--black-blur) !important;

        .button:hover {
            background-color: var(--darkergray-color) !important;
            color: var(--white-color) !important;
        }
    }
}