.main #home {
    width: 100%;
    margin: 2.5vh 0;
    padding: 1% 2.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: var(--default-border);
    box-shadow: var(--default-shadow);
    background: var(--white-blur);

    color: var(--black-color);

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1;
    }

    .content * {
        margin: 1vh 0;
    }

    .profile-picture {
        width: 25%;
        border-radius: var(--rounded-border);
        box-shadow: var(--default-shadow);
    }
}

.main #about {
    .text:first-of-type {
        margin-bottom: 1vh;
    }

    .text {
        margin: 1vh 0;
    }

    .text:last-of-type {
        margin-top: 1vh;
    }
}

.main #skills,
.main #languages,
.main #particularity {
    .category {
        width: 100%;
        margin: 2.5vh 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1vh;
        list-style: none;
    }

    .skill,
    .element {
        cursor: default;
        width: auto;
        padding: 1%;
        background-color: var(--lightgray-color);
        color: var(--black-color);
        text-decoration: none;
        border-radius: 10px;
        white-space: nowrap;
    }

    .skill:hover,
    .element:hover {
        background-color: var(--green-color);
    }

    .text:first-of-type {
        margin-bottom: 2.5vh;
        text-align: center;
    }

    .link {
        color: var(--green-color);
        text-decoration: none;
    }

    .link.more {
        display: block;
        text-align: right;
    }
}

.main #curriculum-vitae {
    width: 100%;
    margin: 2.5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--default-border);
    box-shadow: var(--default-shadow);
    background: var(--white-blur);

    color: var(--black-color);

    .text small {
        display: block;
        text-align: center;
    }
}

.main #projects {
    .refresh-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .refresh-container * {
        margin: 0 1vw;
    }

    .refresh-container *:first-child {
        margin-left: 0;
    }

    .refresh-container *:last-child {
        margin-right: 0;
    }

    .refresh-container #refresh,
    .refresh-container #all-projects {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5vw;
        padding: 1% 3%;
        margin: 0 1vw;
        background-color: var(--lightgray-color);
        color: var(--black-color);
        text-decoration: none;
        border-radius: var(--default-border);
        transition: background-color 0.25s ease, color 0.25s ease;
        border: none;
        outline: none;
    }

    .refresh-container #refresh:hover,
    .refresh-container #all-projects:hover {
        background-color: var(--green-color);
        color: var(--white-color);
    }
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .project {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 1% 0;
        margin: 0 0 2.5vh;
    }

    .project .image {
        width: 100%;
    }

    .project .title {
        margin: 0 0 2.5vh;
    }

    .project .description {
        width: 100%;
        margin: 1vh 0;
        flex: 1;
        text-align: center;
    }

    .project .other {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .project .other .languages {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        flex: 1;
        margin: 1vh 1vw 1vh 0;
        overflow-x: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .project .other .languages.none {
        flex: 1;
    }

    .project .other .language,
    .project .other .button {
        padding: 3%;
        margin: 0 1vw 0 0;
        background-color: var(--lightgray-color);
        color: var(--black-color);
        text-decoration: none;
        border-radius: 10px;
    }

    .project .other .language {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        cursor: default;

        i {
            margin: 0 0.5vw 0 0;
        }
    }

    .project .other .language:hover,
    .project .other .button:hover {
        background-color: var(--green-color);
        color: var(--white-color);
    }
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        margin: 1vh 0;
    }

    .icon {
        font-size: 3rem;
    }

    .error-description {
        font-size: 1.3rem;
    }

    .error-message {
        color: var(--gray-color);
    }
}

.main #projects .projects .project:hover, .main #ressources .ressources .ressource:hover {
    background-color: transparent !important;
}

#contact {
    width: 100%;
    padding: 1% 2.5%;

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 2.5vh 0;
    }

    .contacts .contact {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2vh 0;

        .brand {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .icon {
            font-size: 2rem;
        }

        .subtitle {
            margin: 0 0 0 1vw;
        }

        .link {
            color: var(--green-color);
            text-decoration: none;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .main #home {
        color: var(--white-color) !important;
        background-color: var(--dark-blur) !important;
    }

    .main #skills,
    .main #languages,
    .main #particularity {
        .skill,
        .element {
            background-color: var(--darkergray-color) !important;
            color: var(--white-color) !important;
        }

        .skill:hover,
        .element:hover {
            background-color: var(--green-color) !important;
        }
    }

    .main #curriculum-vitae {
        color: var(--white-color) !important;
        background-color: var(--dark-blur) !important;
    }

    .main #curriculum-vitae .button:hover {
        background-color: var(--gray-color) !important;
        color: var(--white-color) !important;
    }

    .main .refresh-container #refresh,
    .refresh-container #all-projects {
        color: var(--white-color) !important;
    }

    .refresh-container #refresh:hover,
    .refresh-container #all-projects:hover {
        color: var(--green-color) !important;
    }

    .projects .project .other .language,
    .projects .project .other .button {
        background-color: var(--darkergray-color) !important;
        color: var(--white-color) !important;
    }

    .projects .project .other .languages .language:hover,
    .projects .project .other .button:hover {
        background-color: var(--green-color) !important;
        color: var(--white-color) !important;
    }
}

@media (max-width: 624px) {
    .main #home {
        padding: 2.5%;
        flex-direction: column-reverse;

        .profile-picture {
            width: 50%;
            margin: 2.5vh 0;
        }

        .content {
            width: 100%;
            align-items: center;
        }

        .content .description {
            text-align: center;
        }
    }

    .refresh-container {
        flex-direction: column-reverse;
        gap: 2.5vh;
    }

    .refresh-container #all-projects {
        width: 100%;
        background-color: var(--green-color) !important;
        color: var(--white-color) !important;
        border-radius: var(--default-border) !important;
        padding: 2.5vh 0;
    }

    .refresh-container #all-projects:hover {
        background-color: var(--white-color) !important;
        color: var(--green-color) !important;
    }

    .skills,
    #languages,
    #particularity {
        .subtitle {
            text-align: center;
        }

        .category {
            justify-content: center !important;
        }

        .link.more {
            display: none !important;
        }
    }

    #curriculum-vitae {
        .text {
            text-align: center;
        }

        .button {
            width: 100%;
            padding: 2.5vh 0 !important;
        }
    }
}