.main #tools .tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main #projects .projects .project:hover,
.main #ressources .ressources .ressource:hover,
.main #tools .tools .tool:hover {
    background-color: var(--lightgray-color);
}