.main .section {
    scroll-margin-top: var(--scroll-margin-top);
}

.main .hero {
    width: 100%;
    margin: 2.5vh 0;
    padding: 1% 2.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: var(--default-border);
    box-shadow: var(--default-shadow);
    background: url("../images/wallpapers/white-mode.jpg") no-repeat center center fixed;
    background-size: cover;

    color: var(--black-color);

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1;
    }

    .content * {
        margin: 1vh 0;
    }

    .profile-picture {
        width: 25%;
        border-radius: var(--rounded-border);
        box-shadow: var(--default-shadow);
    }
}

.main .projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    .project {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 1% 0;
        margin: 0 0 2.5vh;

        background-color: var(--lightergray-color);
        border-radius: var(--default-border);
    }

    .project .image {
        width: 100%;
    }

    .project .title {
        margin: 0 0 2.5vh;
    }

    .project .description {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex: 1;
        text-align: center;
        justify-content: center;
        align-items: center;
        min-height: 4em;
    }

    .project .other {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .project .other .languages {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        flex: 1;
        margin: 1vh 1vw;
        overflow-x: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .project .other .language,
    .project .other .button {
        padding: 3%;
        margin: 0 1vw 0 0;
        background-color: var(--lightgray-color);
        color: var(--black-color);
        text-decoration: none;
        border-radius: var(--default-border);
    }

    .project .other .language {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        cursor: default;

        i {
            margin: 0 0.5vw 0 0;
        }
    }

    .project .other .language:hover,
    .project .other .button:hover {
        background-color: var(--green-color);
        color: var(--white-color);
    }

    .more-projects {
        margin: 0 auto;
        text-align: center;
    }
}

.main #corundum,
.main #hire,
.main #horizon {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 2.5%;

    .separator {
        flex: 1;
    }

    .text {
        width: 75%;
    }

    .button {
        margin: 0 0 0 0;
    }

    .button:hover i {
        color: inherit !important;
    }
}

.main #corundum {
    background: url("../images/hero/corundum.png") no-repeat center center;
    background-size: cover;

    ::selection {
        background-color: #fdf0d5;
        color: #003049;
    }

    .title {
        color: #fdf0d5;
    }

    .button {
        padding: 1% 5%;
        background-color: #fdf0d5;
        color: #003049;
        text-align: center;
        text-decoration: none;
        border-radius: var(--default-border);
    }

    .button:hover {
        background-color: #fdf0d5aa;
        color: #003049;
    }
}

.main #hire {
    background: url("../images/hero/hire.png") no-repeat center center;
    background-size: cover;

    .title {
        color: var(--black-color);
    }

    .text {
        margin: 1vh 0;
    }
}

.main #horizon {
    background: url("../images/hero/horizon.png") no-repeat center center;
    background-size: cover;

    .title {
        color: var(--white-color);
    }

    .text {
        color: var(--white-color);
    }

    .button {
        padding: 1% 5%;
        background-color: var(--white-color);
        color: var(--black-color);
        text-align: center;
        text-decoration: none;
        border-radius: var(--default-border);
    }

    .button:hover {
        background-color: var(--white-blur);
        color: var(--black-color);
    }

    .button .text {
        color: var(--black-color);
    }
}

.main #videos {
    iframe {
        width: 100%;
        height: 65vh;
        border-radius: var(--default-border);
    }
}

.main #tools {
    .tool {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3vh 0 3vh 1vw;
        border-radius: var(--default-border);
        background-color: var(--lightergray-color);
        margin: 2.5vh 0;
        cursor: pointer;
    }

    .tool:hover {
        background-color: var(--lightgray-color);
    }

    .tool .icon {
        font-size: 1.5rem;
    }

    .tool .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 0 0 1vw;
    }

    .tool h3.title {
        text-align: left !important;
        margin: 1vh 0;
    }

    .button {
        display: flex;
        background-color: var(--green-color);
        color: var(--white-color);
        text-decoration: none;
        padding: 1%;
        border-radius: 50%;
    }

    .button:hover {
        background-color: var(--white-color);
        color: var(--green-color);
    }
}

.main #ressources {
    width: 100%;

    .ressources {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3vh 0;
    }

    .ressources .ressource {
        width: 100%;
        cursor: pointer;
        padding: 2.5%;
        margin: 2.5vh 0;
        border-radius: var(--default-border);
        background-color: var(--lightergray-color);
    }

    .ressources .ressource:first-child {
        margin-top: 0;
    }

    .ressources .ressource:hover {
        background-color: var(--lightgray-color);
    }

    .ressources .ressource .image {
        width: 100%;
        border-radius: var(--default-border);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .ressources .ressource .text {
        width: 100%;
        margin: 1vh 0;
        text-align: center;
    }

    .ressources .ressource .date {
        width: 100%;
        text-align: center;
        color: var(--gray-color);
    }

    .more-ressources {
        margin: 0 auto;
        text-align: center;
    }
}

.main #donation {
    width: 100%;
    padding: 1% 2.5%;

    .description {
        text-align: center;
        margin: 2.5vh 0;
    }

    .services {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a:first-child {
            margin-left: 0;
        }

        a:last-child {
            margin-right: 0;
        }
    }
}

.main #contact {
    width: 100%;
    padding: 1% 2.5%;

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 2.5vh 0;
    }

    .contacts .contact {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2vh 0;

        .brand {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .icon {
            font-size: 2rem;
        }

        .subtitle {
            margin: 0 0 0 1vw;
        }

        .link {
            color: var(--green-color);
            text-decoration: none;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .main .hero {
        background: url("../images/wallpapers/dark-mode.jpg") no-repeat center center fixed;
        background-size: cover;

        color: var(--white-color);
    }

    .main .hero .button:hover,
    .projects .more-projects:hover,
    .main #hire .button:hover,
    .ressources .more-ressources:hover,
    .tools .tool .button:hover {
        color: var(--white-color) !important;
        background-color: var(--darkergray-color) !important;
    }

    .projects .project {
        background-color: var(--darkgray-color) !important;
    }

    .projects .project .other .languages .language,
    .projects .project .other .button {
        background-color: var(--darkergray-color) !important;
        color: var(--white-color) !important;
    }

    .projects .project .other .languages .language:hover,
    .projects .project .other .button:hover {
        background-color: var(--darkgray-color) !important;
        color: var(--white-color) !important;
    }

    .tools .tool {
        background-color: var(--darkgray-color) !important;
        color: var(--white-color) !important;
    }

    .tools .tool:hover {
        background-color: var(--darkergray-color) !important;
    }

    .ressources .ressource .date {
        color: var(--white-color) !important;
    }

    .ressources .ressource {
        background-color: var(--darkergray-color) !important;
        color: var(--white-color) !important;
    }

    .ressources .ressource:hover {
        background-color: var(--darkgray-color) !important;
    }

    #donations .services .button {
        background-color: var(--darkgray-color) !important;
        color: var(--white-color) !important;
    }

    #donations .services .button:hover {
        background-color: var(--darkergray-color) !important;
    }
}

.main #corundum .mobile-icon,
.main #horizon .mobile-icon,
.main #hire .mobile-icon {
    display: none;
    height: 25vh;
    border-radius: var(--rounded-border);
}

@media (max-width: 624px) {
    .main .hero {
        padding: 2.5%;
        flex-direction: column-reverse;

        .profile-picture {
            width: 50%;
            margin: 2.5vh 0;
        }

        .content {
            width: 100%;
            align-items: center;
        }

        .content .description {
            text-align: center;
        }
    }

    .main .hero .content .button,
    .main .projects .more-projects,
    .main #hire .button,
    .main #corundum .button,
    .main #horizon .button,
    .main #ressources .more-ressources {
        width: 100%;
        padding: 2.5vh 0;
    }

    .main #hire,
    .main #corundum,
    .main #horizon {
        align-items: center;

        height: auto;

        .title {
            margin: 0 0 2.5vh 0;
        }
    }

    .main #videos iframe {
        height: 25vh;
    }

    .main #corundum,
    .main #horizon,
    .main #hire {
        .mobile-icon {
            display: block;

            height: 25vh;
        }

        .text {
            text-align: center;
        }
    }

    .main #corundum {
        background-image: none;
        background-color: #003049;
    }

    .main #horizon {
        background-image: none;
        background-color: #302d3e;
    }

    .main #hire {
        background: none;
    }

    .main .tools {
        flex-direction: column;
    }

    .main .tools .tool {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

        gap: 2.5vh;

        * {
            text-align: center;
        }

        .content {
            width: 90% !important;
            align-items: center !important;
        }

        .title {
            margin: 0 0 2.5vh 0;
        }

        .description {
            width: 90%;
        }

        .button {
            border-radius: var(--default-border) !important;
            padding: 2.5vh 0 !important;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .main #donation .services {
        flex-direction: column;

        .button {
            width: 100%;
            margin: 1vh 0 !important;
            padding: 2.5vh 0;
            justify-content: center;
        }
    }
}

@media (max-width: 624px) and (prefers-color-scheme: dark) {
    .main #hire .title {
        color: var(--white-color) !important;
    }
}