.projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    .project {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 1% 0;
        margin: 0 0 2.5vh;

        background-color: var(--lightergray-color);
        border-radius: var(--default-border);
    }

    .project .image {
        width: 100%;
    }

    .project .title {
        margin: 0 0 2.5vh;
    }

    .project .description {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex: 1;
        text-align: center;
        justify-content: center;
        align-items: center;
        min-height: 4em;
    }

    .project .other {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .project .other .languages {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        flex: 1;
        margin: 1vh 1vw;
        overflow-x: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .project .other .languages.none {
        flex: 1;
    }

    .project .other .language,
    .project .other .button {
        padding: 3%;
        margin: 0 1vw 0 0;
        background-color: var(--lightgray-color);
        color: var(--black-color);
        text-decoration: none;
        border-radius: var(--default-border);
    }

    .project .other .language {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        cursor: default;

        i {
            margin: 0 0.5vw 0 0;
        }
    }

    .project .other .language:hover,
    .project .other .button:hover {
        background-color: var(--green-color);
        color: var(--white-color);
    }
}

@media (prefers-color-scheme: dark) {
    .projects .project {
        background-color: var(--darkgray-color) !important;
    }

    .projects .project .other .language,
    .projects .project .other .button {
        background-color: var(--darkergray-color) !important;
        color: var(--white-color) !important;
    }

    .projects .project .other .languages .language:hover,
    .projects .project .other .button:hover {
        background-color: var(--green-color) !important;
        color: var(--white-color) !important;
    }
}