.container .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1vh 0;

    .button {
        padding: 2%;
        margin: 0 1vw 0 0;
        background-color: var(--gray-color);
        color: var(--white-color);
        text-decoration: none;
        border-radius: 10px;
    }

    .button:hover {
        background-color: var(--green-color);
    }
}

.category-container,
.project-language {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .separator {
        flex: 1;
    }

    .category,
    .language,
    .button {
        padding: 2%;
        margin: 0 1vw 0 0;
        background-color: var(--gray-color);
        color: var(--white-color);
        text-decoration: none;
        border-radius: 10px;
    }

    .language,
    .button {
        cursor: default;
    }

    .category:hover,
    .language:hover,
    .button:hover {
        background-color: var(--green-color);
    }
}

.project-language {
    justify-content: flex-start;
    margin: 2vh 0;
}

.project-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-container-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    align-items: center;
}

.project-link {
    padding: 2%;
    margin: 0 1vw 0 0 !important;
    background-color: var(--gray-color);
    color: var(--white-color) !important;
    text-decoration: none;
    border-radius: 10px;
}

.project-link:hover {
    background-color: var(--green-color);
}

#web,
#scripts {
    scroll-margin-top: 81px;
}