@media (max-width: 624px) {
    .burger {
        display: block;
    }

    .header .navbar {
        padding: 2.5%;
    }

    .header .navbar .links {
        display: none;
    }

    .header.menu-open .navbar .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: fixed;
        inset: 0;
        background-color: var(--white-blur);
        z-index: 1000;

        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .header.menu-open .navbar .links .link {
        font-size: 1.8rem;
    }

    .header .navbar,
    .main,
    .footer .content {
        width: 90%;
    }

    .main .hero {
        padding: 2.5% !important;
    }

    .main .projects {
        flex-direction: column !important;

        .project {
            width: 100% !important;
        }

        .more-projects {
            margin: 0 auto 2.5vh auto !important;
        }
    }

    .contact {
        .link .base {
            display: none !important;
        }
    }
}

@media (max-width: 992px) {
    .contact {
        flex-direction: column !important;

        .brand {
            flex-direction: column !important;
            margin: 0 0 1vh 0 !important;
        }
    }

    .tools .tool {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

        * {
            margin: 0.5vh 0 !important;
        }

        *:first-child,
        *:last-child {
            margin: 0 0 0.5vh 0 !important;
        }

        .description,
        .badges {
            width: 100% !important;
            justify-content: center !important;
            align-items: center !important;
        }

        .badges * {
            margin: 0 0.5vw 0 0 !important;
        }

        .badges *:last-child {
            margin: 0 !important;
        }
    }

    .project .head,
    .project .head .details {
        flex-direction: column !important;
    }

    .project .head .details .icon {
        width: 64px !important;
    }

    .project .head .links {
        width: 100% !important;
        margin: 2.5vh 0 0 0 !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-end !important;
        align-items: center !important;
    }
}