.ressources {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3vh 0;

    .ressource {
        width: 100%;
        cursor: pointer;
        padding: 2.5%;
        margin: 2.5vh 0;
        border-radius: var(--default-border);
        background-color: var(--lightergray-color);
    }

    .ressource:first-child {
        margin-top: 0;
    }

    .ressource:hover {
        background-color: var(--lightgray-color);
    }

    .ressource .image {
        width: 100%;
        border-radius: var(--default-border);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .ressource .text {
        width: 100%;
        margin: 1vh 0;
        text-align: center;
    }

    .ressource .date {
        width: 100%;
        text-align: center;
        color: var(--gray-color);
    }
}

@media (prefers-color-scheme: dark) {
    .ressources .ressource {
        background-color: var(--darkgray-color) !important;
    }

    .ressources .ressource .date {
        color: var(--white-color) !important;
    }

    .ressources .ressource:hover {
        background-color: var(--darkergray-color) !important;
    }
}