@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    transition: 200ms ease-in-out;
    scroll-behavior: smooth;
}

:root {
    --black-color: #212529;
    --gray-color: #495057;
    --white-color: #F8F9FA;
    --green-color: #588157;
}

::selection {
    background-color: var(--green-color);
    color: var(--white-color);
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--white-color);
}

.nav {
    width: 80%;
    margin: 2vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    height: 56px;
}

.nav .separator {
    /* flex: 2; */
    width: 35%;
}

.nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    list-style: none;
}

.nav .menu .menu-item {
    text-align: right;
    font-size: 1.25rem;
}

.nav .menu .menu-item .link {
    color: var(--black-color);
    text-decoration: none;
}

.nav .menu .menu-item .link:hover,
.nav .menu .menu-item .link.active {
    color: var(--green-color);
}

.main {
    width: 100%;
    flex: 1;
}

.main #home,
.main #projects,
.main #contact {
    scroll-margin-top: 81px;
}

.main #home {
    width: 100%;
    height: 60vh;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url("../images/wallpapers/white-mode.jpg") no-repeat fixed center;
    background-size: cover;
}

.main #home .content {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--black-color);

    * {
        margin: 1vh 0;
    }

    .button {
        width: 50%;
        padding: 2% 5%;
        background-color: var(--green-color);
        color: var(--white-color);
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
    }

    .button:hover {
        background-color: var(--white-color);
        color: var(--green-color);
    }
}

.main #home .profile-picture {
    height: 65%;
    border-radius: 50%;
    border: 5px solid var(--green-color);
}

.main #projects,
.main #ressources,
.main #contact {
    width: 100%;
    padding: 1vh 10%;

    .title {
        width: 100%;
        text-align: left;
        font-size: 1.75rem;
        margin: 2vh 0;
    }
}

.main #projects,
.main #ressources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .link {
        width: 100%;
        color: var(--green-color);
        text-align: right;
        text-decoration: none;
        margin: 1vh 0;
    }
}

.main #projects .projects,
.main #ressources .ressources {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .project,
    .ressource {
        width: 100%;
        padding: 2vh 0;
    }

    .project-image,
    .ressource-image {
        width: 100%;
        margin: 2vh 0;
        border-radius: 10px;
    }

    .project-title,
    .ressource-title {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        margin: 1vh 0;
    }

    .project-description,
    .ressource-description,
    .ressource-date {
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        margin: 1vh 0;
    }

    .ressource-date {
        color: #ffffffaa;
    }

    .project-container-link,
    .ressource-container-link {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .project-link,
    .ressource-link {
        display: inline;
        text-align: center;
        font-size: 1.25rem;
        margin: 1vh 0;
        color: var(--green-color);
        text-decoration: none;
    }
}

.main #projects .projects .project,
.main #ressources .ressources .ressource {
    margin: 1vh 0;
    border-radius: 10px;
}

.main #contact {
    width: 100%;
    padding: 0 10%;
}

.main #contact .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.github,
.linkedin,
.bluesky,
.discord,
.instagram,
.youtube {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;

    .brand {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .icon {
        font-size: 2rem;
    }

    .subtitle {
        margin: 0 0 0 1vw;
    }

    .link {
        color: var(--green-color);
        text-decoration: none;
    }
}

.footer {
    width: 100%;
    background-color: var(--white-color);
}

.footer .copyright {
    margin: 2vh 0;
    text-align: center;
}