* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 9999999;
}

#mainHeader {
    background-color: transparent;
}

nav ul {
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 1%;
}

nav ul li a {
    color: gray;
    text-decoration: none;
    font-size: 2vh;
}

nav ul li a:hover {
    transition: 200ms;
}

nav ul li .activeItem {
    color: white;
}

nav ul li .activeItem:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

nav ul li a:hover {
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    animation: border-animation 0.5s normal;
}

h1 {
    font-size: 3rem;
    color: white;
}

#homeBody {
    background: url("https://4kwallpapers.com/images/wallpapers/macos-ventura-macos-13-macos-2022-stock-dark-mode-5k-retina-6016x6016-8133.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#mainDiv {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

#mainDiv img {
    width: 15%;
    border-radius: 50%;
    transition: transform .2s;
    transition: 200ms;
}

#mainDiv img:hover {
    transform: scale(1.05);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#whiteTitle {
    color: white;
}

#whiteParagraph {
    color: white;
}

p {
    margin-top: 1%;
}

#servicesDiv, #socialDiv {
    width: 80%;
    margin: 0 auto;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2% 6%;
    margin: 1%;
    transition: 200ms;
}

.otherDiv {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

article {
    display: inline-block;
    width: 48%;
    padding: 1% 0.5%;
    font-size: 2vh;
    text-align: center;
    margin: 1% 0;
    border-radius: 5px;
    background-color: lightgray;
    transition: transform .2s;
}

article:hover {
    transform: scale(1.05);
}

article img {
    width: 9%;
}

.button:hover {
    background-color: darkgray;
    border: 2px solid darkgray;
    color: white;
}

#unavailableDiv {
    padding: 1%;
    background-color: red;
    border: 1px solid darkred;
    width: 80%;
    margin: 1% auto;
    border-radius: 5px;
    color: white;
}

a {
    color: blue;
    text-decoration: underline;
}

.uniqueArticleLink {
    color: black;
    text-decoration: none;
}

article h3 {
    font-weight: bold;
    font-size: 1.3rem;
}

.leftArticle {
    float: left;
}

.rightArticle {
    float: right;
}

.clear {
    clear: both;
}

#rightArticleContent {
    text-align: right;
}

img {
    width: 25vw;
    border-radius: 5px;
}

.denied {
    cursor: not-allowed;
}

footer {
    text-align: center;
}

footer {
    background-color: black;
}

footer p {
    padding: 1%;
    color: white;
    margin: 0;
}

.none {
    display: none;
}

#errorDiv {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 576px) {
    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li a {
        text-align: center;
    }

    #mainDiv img {
        width: 50%;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    article {
        width: 100%;
    }
}