.categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--lightergray-color);

    padding: 1%;

    border-radius: var(--default-border);

    .list {
        display: flex;
        flex: 1;
        flex-direction: row;

        .category {
            padding: 1.5%;
            margin: 0 1vw 0 0;
            background-color: var(--lightgray-color);
            color: var(--black-color);
            text-decoration: none;
            border-radius: var(--default-border);
        }

        .category:hover {
            background-color: var(--green-color);
            color: var(--white-color);
        }

        .category.active {
            background-color: var(--green-color);
            color: var(--white-color);
        }
    }

    .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .search label {
        width: 100%;
    }

    .search label input {
        padding: 2.5vh 1vw;
        margin: 0 1vw 0 0;
        background-color: var(--lightgray-color);
        color: var(--black-color);
        text-decoration: none;
        border-radius: var(--default-border);

        outline: none;
        border: none;
    }

    .search label input:hover {
        background-color: var(--lightgray-color);
    }

    .search label input:focus {
        outline: 2.5px solid var(--green-color);
    }
}

.alert {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    margin: 2.5vh 0;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: var(--default-border);
}

.tools {
    width: 100%;

    #os,
    #software {
        scroll-margin-top: var(--scroll-margin-top);
    }

    .os,
    .software {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tool {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        margin: 2.5vh 0;
        border-radius: var(--default-border);
    }

    .tool:first-child {
        margin-top: 0;
    }

    .tool:last-child {
        margin-bottom: 0;
    }

    .tool:hover {
        background-color: var(--lightgray-color);
    }

    .tool .icon {
        width: 128px;
        margin: 0 1vw 0 0;
        padding: 2.5%;
    }

    .tool .version {
        margin: 0 0 1vh 0;
        color: var(--gray-color);
    }

    .tool .description {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: flex-start;
    }

    .tool .title {
        text-align: left;
    }

    .tool .description .badges {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        cursor: default;
        pointer-events: none;
    }

    .tool .description .state {
        padding: 1%;
        margin: 0 1vw 0 0;
        background-color: var(--lightgray-color);
        color: var(--black-color);
        text-decoration: none;
        border-radius: 10px;
    }

    .tool .description .badges .state.used {
        color: var(--white-color);
        background-color: var(--green-color);
    }

    .tool .description .badges .state.not-used {
        color: var(--white-color);
        background-color: var(--gray-color);
    }

    .tool .description .badges .power,
    .tool .description .badges .ocpl,
    .tool .description .badges .jailbreak,
    .tool .description .badges .dualboot {
        padding: 1%;
        margin: 0 1vw 0 0;
        text-decoration: none;
        border-radius: 10px;
    }

    .tool .description .badges .power {
        background-color: var(--blue-color);
        color: var(--white-color);
    }

    .tool .description .badges .ocpl {
        background-color: var(--purple-color);
        color: var(--white-color);
    }

    .tool .description .badges .jailbreak {
        background-color: var(--orange-color);
        color: var(--white-color);
    }

    .tool .description .badges .dualboot {
        background-color: var(--yellow-color);
        color: var(--black-color);
    }
}

@media (prefers-color-scheme: dark) {
    .categories {
        background-color: var(--darkgray-color) !important;
    }

    .categories .category {
        background-color: var(--darkergray-color) !important;
        color: var(--white-color) !important;
    }

    .categories .category:hover {
        background-color: var(--green-color) !important;
    }

    .categories .search label input {
        background-color: var(--darkergray-color) !important;
        color: var(--white-color) !important;
    }

    .tools .tool:hover {
        background-color: var(--darkergray-color) !important;
    }

    .tools .tool .version {
        color: var(--white-color) !important;
    }
}

@media (max-width: 992px) {
    .categories {
        background: none !important;
    }

    .tools .tool {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

        * {
            margin: 0.5vh 0 !important;
        }

        *:first-child,
        *:last-child {
            margin: 0 0 0.5vh 0 !important;
        }

        .description,
        .badges {
            width: 100% !important;
            justify-content: center !important;
            align-items: center !important;
        }

        .badges * {
            margin: 0 0.5vw 0 0 !important;
        }

        .badges *:last-child {
            margin: 0 !important;
        }
    }
}