.categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .category {
        padding: 1.5%;
        margin: 0 1vw 0 0;
        background-color: var(--lightgray-color);
        color: var(--black-color);
        text-decoration: none;
        border-radius: 10px;
    }

    .category:hover {
        background-color: var(--green-color);
        color: var(--white-color);
    }
}

.alert {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    margin: 2.5vh 0;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: var(--default-border);
}

.tools {
    width: 100%;

    #os,
    #software {
        scroll-margin-top: var(--scroll-margin-top);
    }

    .os,
    .software {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tool {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        margin: 2.5vh 0;
        border-radius: var(--default-border);
    }

    .tool:first-child {
        margin-top: 0;
    }

    .tool:last-child {
        margin-bottom: 0;
    }

    .tool:hover {
        background-color: var(--lightgray-color);
    }

    .tool .icon {
        width: 128px;
        margin: 0 1vw 0 0;
        padding: 2.5%;
    }

    .tool .version {
        margin: 0 0 1vh 0;
        color: var(--gray-color);
    }

    .tool .description {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: flex-start;
    }

    .tool .title {
        text-align: left;
    }

    .tool .description .badges {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tool .description .state {
        padding: 1%;
        margin: 0 1vw 0 0;
        background-color: var(--lightgray-color);
        color: var(--black-color);
        text-decoration: none;
        border-radius: 10px;
    }

    .tool .description .badges .state.used {
        color: var(--white-color);
        background-color: var(--green-color);
    }

    .tool .description .badges .state.not-used {
        color: var(--white-color);
        background-color: var(--gray-color);
    }

    .tool .description .badges .power {
        padding: 1%;
        margin: 0 1vw 0 0;
        background-color: var(--blue-color);
        color: var(--white-color);
        text-decoration: none;
        border-radius: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    .categories .category {
        background-color: var(--darkgray-color) !important;
        color: var(--white-color) !important;
    }

    .categories .category:hover {
        background-color: var(--green-color) !important;
    }

    .tools .tool:hover {
        background-color: var(--darkgray-color) !important;
    }

    .tools .tool .version {
        color: var(--white-color) !important;
    }
}