<section class="project">
    <div class="head">
        <div class="details">
            <img src="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png" alt="Logo d'Admin Services" class="icon">
            <h2 class="name">Admin Services</h2>
        </div>
        <div class="links">
            <a href="#" class="button disabled">Démarrer</a>
            <a href="#/projects" class="button back">Retour</a>
        </div>
    </div>
    <div class="capture">
        <img src="assets/images/projects/admin-services.png" alt="Capture d'écran" class="screenshot">
    </div>
    <div class="description">
        <div class="desc-section">
            <h3>Description</h3>
            <p>Plateforme web permettant aux utilisateurs de déployer et gérer facilement leurs applications en ligne.</p>
        </div>
        <div class="available-section">
            <h3>Disponibilité</h3>
            <p>En développement.</p>
        </div>
        <div class="source-section">
            <h3>Code source</h3>
            <p class="source"><a href="https://github.com/enioaiello/admin-services/" target="_blank">Voir le code source</a></p>
        </div>
    </div>
</section>