<section class="project">
    <div class="head">
        <div class="details">
            <img src="https://enioaiello.github.io/admin-services-legacy/assets/img/logo.png"
                 alt="Logo d'Admin Services (Legacy)" class="icon">
            <h2 class="name">Admin Services (Legacy)</h2>
        </div>
        <div class="links">
            <a href="https://enioaiello.github.io/admin-services-legacy/" class="button">Démarrer</a>
            <a href="#/projects" class="button back">Retour</a>
        </div>
    </div>
    <div class="capture">
        <img src="assets/images/projects/admin-services-legacy.png" alt="Capture d'écran" class="screenshot">
    </div>
    <div class="description">
        <div class="desc-section">
            <h3>Description</h3>
            <p>Application web développée en HTML, CSS et JavaScript pur, sans utilisation de bases de données,
                permettant aux utilisateurs de publier des applications web et de les utiliser.</p>
        </div>
        <div class="source-section">
            <h3>Code source</h3>
            <p class="source"><a href="https://github.com/enioaiello/admin-services-legacy/" target="_blank">Voir le
                code source</a></p>
        </div>
    </div>
</section>