<section class="project">
    <div class="head">
        <div class="details">
            <img src="https://github.com/enioaiello/atomix/blob/main/assets/images/logo.png?raw=true" alt="Logo d'Atomix" class="icon">
            <h2 class="name">Atomix</h2>
        </div>
        <div class="links">
            <a href="#" class="button disabled">Démarrer</a>
            <a href="#/projects" class="button back">Retour</a>
        </div>
    </div>
    <div class="capture">
        <img src="assets/images/projects/atomix.png" alt="Capture d'écran" class="screenshot">
    </div>
    <div class="description">
        <div class="desc-section">
            <h3>Description</h3>
            <p>Atomix est un framework CSS léger et modulaire conçu pour simplifier la création d'interfaces web
                réactives et personnalisables. Il offre une collection de composants préconstruits et faciles à
                intégrer.</p>
        </div>
        <div class="source-section">
            <h3>Code source</h3>
            <p class="source"><a href="https://github.com/enioaiello/atomix/" target="_blank">Voir le code source</a>
            </p>
        </div>
    </div>
</section>