<section class="project">
    <div class="head">
        <div class="details">
            <h2 class="name">Corundum Maintenance</h2>
        </div>
        <div class="links">
            <a href="#" class="button disabled">Démarrer</a>
            <a href="#/projects" class="button back">Retour</a>
        </div>
    </div>
    <div class="capture">
        <img src="assets/images/projects/corundum-maintenance.png" alt="Capture d'écran" class="screenshot">
    </div>
    <div class="description">
        <div class="desc-section">
            <h3>Description</h3>
            <p>Maintenez et administrez votre poste de travail Windows sans le moindre effort.</p>
        </div>
        <div class="corundum-section">
            <h3>Corundum</h3>
            <p><a href="https://corundum.fr/views/projects/maintenance.html">Voir la page officielle</a></p>
        </div>
        <div class="source-section">
            <h3>Code source</h3>
            <p class="source"><a href="https://github.com/corundumproject/maintenance/" target="_blank">Voir le code
                source</a></p>
        </div>
    </div>
</section>