<section class="project">
    <div class="head">
        <div class="details">
            <img src="https://github.com/enioaiello/google-fake-admin-panel/blob/main/assets/img/favicon.png?raw=true"
                 alt="Logo google-fake-admin-panel" class="icon">
            <h2 class="name">google-fake-admin-panel</h2>
        </div>
        <div class="links">
            <a href="#" class="button disabled">Démarrer</a>
            <a href="#/projects" class="button back">Retour</a>
        </div>
    </div>
    <div class="capture">
        <img src="assets/images/projects/google-fake-admin-panel.png" alt="Capture d'écran" class="screenshot">
    </div>
    <div class="description">
        <div class="desc-section">
            <h3>Description</h3>
            <p>google-fake-admin-panel est un projet qui m'a permis d'apprendre l'HTML, le CSS et le JavaScript. Il précède à Admin Services Legacy.</p>
        </div>
        <div class="available-section">
            <h3>Disponibilité</h3>
            <p>Archivé.</p>
        </div>
        <div class="techno-section">
            <h3>Technologies</h3>
            <div class="languages">
                <span class="language">
                    <i class="ri-html5-fill icon"></i> HTML
                </span>
                <span class="language">
                    <i class="ri-css3-fill"></i> CSS
                </span>
                <span class="language">
                    <i class="ri-javascript-fill"></i> JS
                </span>
            </div>
        </div>
        <div class="source-section">
            <h3>Code source</h3>
            <p class="source"><a href="https://github.com/enioaiello/google-fake-admin-panel/" target="_blank">Voir le
                code source</a></p>
        </div>
    </div>
</section>