<section class="project">
    <div class="head">
        <div class="details">
            <h2 class="name">Lumix</h2>
        </div>
        <div class="links">
            <a href="#" class="button disabled">Démarrer</a>
            <a href="#/projects" class="button back">Retour</a>
        </div>
    </div>
    <div class="capture">
        <img src="assets/images/projects/lumix.png" alt="Capture d'écran" class="screenshot">
    </div>
    <div class="description">
        <div class="desc-section">
            <h3>Description</h3>
            <p>Modèle de dépôt GitHub pour initier rapidement de nouveaux projets.</p>
        </div>
        <div class="available-section">
            <h3>Disponibilité</h3>
            <p>Disponible.</p>
        </div>
        <div class="source-section">
            <h3>Code source</h3>
            <p class="source"><a href="https://github.com/enioaiello/lumix/" target="_blank">Voir le code source</a></p>
        </div>
    </div>
</section>