<section class="project">
    <div class="head">
        <div class="details">
            <img src="https://corundum.fr/quick/assets/img/logo.png" alt="Logo de Quick" class="icon">
            <h2 class="name">Corundum Quick</h2>
        </div>
        <div class="links">
            <a href="https://corundum.fr/quick" class="button">Démarrer</a>
            <a href="#/projects" class="button back">Retour</a>
        </div>
    </div>
    <div class="capture">
        <img src="assets/images/projects/quick.png" alt="Capture d'écran" class="screenshot">
    </div>
    <div class="description">
        <div class="desc-section">
            <h3>Description</h3>
            <p>Téléchargez toutes vos applications au même endroit et en un éclair. Tout simplement.</p>
        </div>
        <div class="available-section">
            <h3>Disponibilité</h3>
            <p>Disponible.</p>
        </div>
        <div class="corundum-section">
            <h3>Corundum</h3>
            <p><a href="https://corundum.fr/views/projects/quick.html">Voir la page officielle</a></p>
        </div>
        <div class="source-section">
            <h3>Code source</h3>
            <p class="source"><a href="https://github.com/corundumproject/quick/" target="_blank">Voir le code
                source</a></p>
        </div>
    </div>
</section>