<section class="project">
    <div class="head">
        <div class="details">
            <img src="https://enioaiello.github.io/vador/assets/img/logo.jpg" alt="Logo de Vador" class="icon">
            <h2 class="name">Vador</h2>
        </div>
        <div class="links">
            <a href="https://enioaiello.github.io/vador" class="button">Démarrer</a>
            <a href="#/projects" class="button back">Retour</a>
        </div>
    </div>
    <div class="capture">
        <img src="assets/images/projects/vador.png" alt="Capture d'écran" class="screenshot">
    </div>
    <div class="description">
        <div class="desc-section">
            <h3>Description</h3>
            <p>Le Projet Vador est un projet libre et open-source qui compile une liste de divers logiciels libres et
                open-source directement depuis leurs sites officiels.</p>
        </div>
        <div class="available-section">
            <h3>Disponibilité</h3>
            <p>Archivé.</p>
        </div>
        <div class="source-section">
            <h3>Code source</h3>
            <p class="source"><a href="https://github.com/enioaiello/vador/" target="_blank">Voir le code source</a></p>
        </div>
    </div>
</section>