<section class="project">
    <div class="head">
        <div class="details">
            <img src="assets/images/placeholders/placeholder-1024x1024.png" alt="Logo de Vador" class="icon placeholder">
            <h2 class="name">Zyra</h2>
        </div>
        <div class="links">
            <a href="#" class="button disabled">Démarrer</a>
            <a href="#/projects" class="button back">Retour</a>
        </div>
    </div>
    <div class="capture">
        <img src="assets/images/placeholders/placeholder-1376x803.png" alt="Capture d'écran" class="screenshot placeholder">
    </div>
    <div class="description">
        <div class="desc-section">
            <h3>Description</h3>
            <p>Zyra est un micro-framework PHP MVC léger conçu pour créer des applications web simples. Il fournit une structure de base suivant le modèle architectural MVC (Model-View-Controller).</p>
        </div>
        <div class="available-section">
            <h3>Disponibilité</h3>
            <p>Archivé.</p>
        </div>
        <div class="source-section">
            <h3>Code source</h3>
            <p class="source"><a href="https://github.com/enioaiello/zyra/" target="_blank">Voir le code source</a></p>
        </div>
    </div>
</section>